{% load static %}
<!--end::Modal - Users Search-->
		<!--end::Modals-->
		<!--begin::Javascript-->
		<script>var hostUrl = "{% static 'assets-2/index.html";</script>
		<!--begin::Global Javascript Bundle(mandatory for all pages)-->
		<script src="{% static 'assets-2/plugins/global/plugins.bundle.js' %} "></script>
		<script src="{% static 'assets-2/js/scripts.bundle.js' %} "></script>
		<!--end::Global Javascript Bundle-->
		<!--begin::Vendors Javascript(used for this page only)-->
		<script src="{% static 'assets-2/plugins/custom/datatables/datatables.bundle.js' %} "></script>
		<script src="{% static 'assets-2/plugins/custom/vis-timeline/vis-timeline.bundle.js' %} "></script>
		<!--end::Vendors Javascript-->
		<!--begin::Custom Javascript(used for this page only)-->
		<script src="{% static 'assets-2/js/widgets.bundle.js' %} "></script>
		<script src="{% static 'assets-2/js/custom/widgets.js' %} "></script>
		<script src="{% static 'assets-2/js/custom/apps/chat/chat.js' %} "></script>
		<script src="{% static 'assets-2/js/custom/utilities/modals/upgrade-plan.js' %} "></script>
		<script src="{% static 'assets-2/js/custom/utilities/modals/create-app.js' %} "></script>
		<script src="{% static 'assets-2/js/custom/utilities/modals/create-account.js' %} "></script>
		<script src="{% static 'assets-2/js/custom/utilities/modals/create-project/type.js' %} "></script>
		<script src="{% static 'assets-2/js/custom/utilities/modals/create-project/budget.js' %} "></script>
		<script src="{% static 'assets-2/js/custom/utilities/modals/create-project/settings.js' %} "></script>
		<script src="{% static 'assets-2/js/custom/utilities/modals/create-project/team.js' %} "></script>
		<script src="{% static 'assets-2/js/custom/utilities/modals/create-project/targets.js' %} "></script>
		<script src="{% static 'assets-2/js/custom/utilities/modals/create-project/files.js' %} "></script>
		<script src="{% static 'assets-2/js/custom/utilities/modals/create-project/complete.js' %} "></script>
		<script src="{% static 'assets-2/js/custom/utilities/modals/create-project/main.js' %} "></script>
		<script src="{% static 'assets-2/plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>

		<script src="{% static 'assets-2/js/custom/utilities/modals/users-search.js' %} "></script>
		<!--end::Custom Javascript-->
		<!--end::Javascript-->